/* General Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
}

.header {
    background-color: #00796b;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.header h1,
.header p {
    margin: 0;
    padding: 5px 0;
    font-size: calc(1.5em + 1vw);
}

.auth-form-container {
    margin-top: 30px;
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.auth-form-container h2 {
    margin-bottom: 20px;
    font-size: 1.6em;
    text-align: center;
    color: #00796b;
}

.auth-form-container form {
    display: flex;
    flex-direction: column;
}

.auth-form-container input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.auth-form-container button {
    padding: 10px;
    font-size: 1em;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-form-container button:hover {
    background-color: #004d40;
}

.auth-form-container p {
    text-align: center;
}

.auth-form-container a {
    color: #00796b;
    text-decoration: none;
}

.auth-form-container a:hover {
    text-decoration: underline;
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    width: 80%;
    max-width: 1200px;
}

#map {
    height: 400px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.controls {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.controls select,
.controls button {
    margin-right: 15px;
}

select,
button,
h3,
input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

select {
    background-color: white;
}

button {
    background-color: #00796b;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
}

h3 {
    font-size: 1.6em;
    margin-bottom: 15px;
    color: #00796b;
}

input[type="email"],
input[type="password"] {
    width: 100%;
}

/* Estilos específicos para el formulario de agregar usuario */
#add-user-container {
    margin-top: 30px;
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#add-user-container input,
#add-user-container select,
#add-user-container button {
    margin-bottom: 15px;
}

.download-container {
    margin-top: 30px;
    text-align: center;
}

.download-container h3 {
    font-size: 1.6em;
    color: #00796b;
}

.download-container a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #00796b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.download-container a:hover {
    background-color: #004d40;
}

/* Media Queries for Mobile */
@media (max-width: 600px) {
    .header {
        height: auto;
        /* Allow header to grow with content */
        padding: 20px 10px;
        /* Adjust padding */
    }

    .header h1 {
        font-size: calc(1.2em + 1vw);
    }

    .header p {
        font-size: calc(1em + 0.5vw);
    }

    .map-container {
        width: 90%;
        text-align: center;
    }

    #map {
        max-height: 300px;
    }

    select,
    button,
    h3,
    input {
        font-size: calc(0.9em + 0.5vw);
        padding: 8px;
    }

    h3 {
        font-size: calc(1.2em + 0.5vw);
    }

    input[type="email"],
    input[type="password"] {
        font-size: calc(0.9em + 0.5vw);
    }
}